.App {
  text-align: center;
  
}

.app-wrapper {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 60px 1 fr;
  grid-template-columns: 2fr 10 fr;
  /* grid-gap: ; */
}
.header {
  grid-area: h;
  background-color: lightgreen;
}
.header img {
  width: 60px;
}
.nav {
  grid-area: n;
  background-color: lightslategray;
}
.content {
  grid-area: c;
  background-color: lightpink;
}
.backCont img {
  height: 200px;
  width: 100%;
}
.logo img {
  width: 50px;
  height: 50px;
}